{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p">
            <form id="user-reg-form" action="." method="post">
                {% csrf_token %}
                {# Username & Password Section #}
                <h3>Signup for an ccount</h3>
                <h5 class="sn-sh">CREATE A USERNAME AND PASSWORD</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{ form.username.label }}</th>
                            <th>{{ form.email.label }}</th>
			    <th>{{ form.phone.label }}</th>
                        </tr>
                        <tr>
                            <td>{{ form.username }}</td>
                            <td>{{ form.email }}</td>
			    <td>{{ form.phone }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.username.errors }}</td>
                            <td>{{ form.email.errors }}</td>
			    <td>{{ form.phone.errors }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.password.label }}</th>
                        </tr>
                        <tr>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.errors }}</td>
                        </tr>
                    </tbody>
                </table>
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
        </div>
    </div>
<div class="jumbotron">
<div class="container sign-in-up">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <br>
      <!-- Nav tabs -->
      <div class="text-center">
	<h1 align="center" class="fade">Begin <span class="glyphicon glyphicon-globe"></span></h1>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="new">
          <br>
          <fieldset>
            <div class="form-group">
              <div class="right-inner-addon">
                <i class="fa fa-envelope"></i>
                <input class="form-control input-lg" placeholder="Email" type="text"> 
              </div>
            </div>
            <div class="form-group">
              <div class="right-inner-addon">
                <i class="fa fa-key"></i>
                <input class="form-control input-lg" placeholder="Password" type="password"> 
              </div>
            </div>
<!--            <div class="form-group">
              <div class="right-inner-addon">
                <i class="fa fa-key"></i>
                <input class="form-control input-lg" placeholder="Confirm Password" id="" type="password">
              </div>
            </div>-->
          </fieldset>
          <hr>
        </div>
        <div class="tab-pane fade" id="user">
          <br>
          <fieldset>
            <div class="form-group">
              <div class="right-inner-addon">
                <i class="fa fa-envelope"></i>
                <input class="form-control input-lg" placeholder="Email Address" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="right-inner-addon">
                <i class="fa fa-key"></i>
                <input class="form-control input-lg" placeholder="Password" type="password">
              </div>
            </div>
          </fieldset>
          <br>
          <div class=" text-center">
            <button class="btn btn-primary">LOGIN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>

{% endblock content %}
